.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/vispro.owl
src/ontology/vispro.obo
src/ontology/vispro.json
src/ontology/vispro-base.*
src/ontology/vispro-basic.*
src/ontology/vispro-full.*
src/ontology/vispro-simple.*
src/ontology/vispro-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-vispro-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
pyproject.toml
poetry.lock
.idea/*
src/templates/.~lock.vibso_classes.tsv\#
docs/images/.$VIBSO_T-Box_graph_views.drawio.bkp
